@model IEnumerable<LiveSearchDemoWithJQuery.Models.StudentInfo>
<br />

<div class="container">
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            <input type="text" id="Search" placeholder="Search" class="form-control" />
        </div>
    </div>
</div>

<br />

<table class="table table-striped">
    <thead>
        <tr>
            <th>Student ID</th>
            <th>Student Name</th>
            <th>Semester</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Item in Model)
        {
            <tr class="Search">
                <td>@Item.StuId</td>
                <td>@Item.StuName</td>
                <td>@Item.Semester</td>
            </tr>
        }
    </tbody>
</table>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function () {
        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1)
                return true;
        }
        $("#Search").keyup(function () {
            var searchText = $("#Search").val().toLowerCase();
            $(".Search").each(function () {
                if (!Contains($(this).text().toLowerCase(), searchText)) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            })
        })
    });
</script>